/* 
h3{
 text-align: center;

 font-size: 75px;
 color: blue;   
}

.flex{
    background-color: red;
    width: 100%;
    display: flex;
    text-align: center;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction:row;



}
.flex > div{
width: 200px;
height: 200px;
background-color: green;
margin: 7px;
text-align: center;
border: 1px solid gold;
padding: 15px:

}
.flex > div.nth-child(2){
    order: 5;


} */
body{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: brown;
    
}
h1{
    text-align: center;
    color: blue;
    font-size: 25px;

}
main{
    width: 80;
    margin: 10px auto;
    border: 1px solid rgb(24, 21, 21)
    display: grid;
    grid-gap: 15px;
    grid-tem
    
}

.box1{
    background-color: brown;
    grid-column: 1/-1;
 }
 .box2{
    background-color: blueviolet;
 }
 .box3{
    background-color: red;

 }
 .box4{
    background-color: hotpink;
 }
.box5{
    background-color: red;
    grid-column: 4/5;
    grid-row: 2/4;

}
.box6{
    background-color: aqua;
    grid-column: 1/4;
}
.box7{
    background-color: gray;
    grid-column: 1/-1;
}

















